<h1>Все юниты:</h1>
<h2>@Model.currCategory</h2>
<div class="container mt-5 mb-2">
        @{
            foreach (var unit in Model.allUnits)
            {
                    <div class="row">
                        <div class="col">
                            <h3>@unit.Name</h3>
                            <p>@unit.shortDesk</p>
                            <p>Стоимость: @unit.price.ToString()</p>

                            <p><a class="btn btn-warning" href="#">Подробнее</a></p>
                        </div>
                        <div class="col">
                            <img class="img-thumbnail" src="@unit.img" alt="@unit.Name" width="400" height="400"/>
                        </div>
                    </div>
            }
        }
</div>